@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Rokkitt&display=swap");
/* variables */
.cursos .tarjetasCursos .card a, .tarjetasPostres .card a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 3px;
  background-color: plum;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
  transition: all 0.5s;
}

body {
  font-family: "Rokkitt", serif;
}

h1, h2, h3 {
  font-family: "Courgette", cursive;
}

.elFooter {
  background-color: rgb(250, 214, 220);
}
.elFooter .footer {
  background-color: pink;
}

/* index */
.navbar {
  background-color: pink;
  font-size: 20px;
  display: flex;
  flex-flow: row wrap;
}
.navbar .navbar-brand {
  justify-content: left;
  padding: 20px;
}
.navbar li {
  padding: 20px;
}
.navbar li a {
  color: black;
}
.navbar .plataformaCompras {
  align-self: center;
}
.navbar .dropdown-menu input {
  width: fit-content;
}

.jumbotron {
  background-color: rgb(250, 214, 220);
}
.jumbotron .description {
  flex-flow: column wrap;
  justify-content: center;
}
.jumbotron .description .botonCallToAction {
  border: 3px solid rgb(0, 0, 0);
  background-color: plum;
}

.tarjetasPostres {
  flex-direction: column;
}
.tarjetasPostres .card {
  padding: 10px;
  margin: 10px;
  align-items: center;
  box-shadow: 0px 0px 10px black;
  transition: 0.8s;
}
.tarjetasPostres .card img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px black;
}
.tarjetasPostres .card h3 {
  font-size: medium;
}
.tarjetasPostres .card .tituloCard {
  width: 100%;
  height: 100px;
  background-image: url(../photos/multimedia/pink-784526_1280-removebg-preview.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  text-shadow: 0px 0px 3px rgb(255, 255, 255);
}
.tarjetasPostres .card .card-text {
  font-weight: bold;
}
.tarjetasPostres .card:hover {
  box-shadow: 0px 0px 20px black;
  transform: scale(1.04);
  transition: all 0.8s;
  background-color: pink;
  border-radius: 150px;
}
.tarjetasPostres a:hover {
  background-color: rgb(254, 93, 254);
  transition: all 0.5s;
}

.promoComida .comida {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border: none;
  overflow: hidden;
}
.promoComida .comida a {
  text-decoration: none;
}
.promoComida .comida p {
  align-self: center;
  color: rgb(8, 5, 2);
  text-shadow: 0px 0px 3px rgb(255, 255, 255);
  transition: 0.5s;
  font-size: larger;
}
.promoComida .comida img {
  object-fit: cover;
  height: 250px;
  box-shadow: 0px 0px 10px black;
}
.promoComida .comida .comida:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}

.cursos {
  background-image: url(https://cdn.pixabay.com/photo/2020/02/29/15/20/cake-4890393_640.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-y: -100px;
  flex-flow: row wrap;
}
.cursos h3 {
  margin-bottom: 150px;
  font-size: xx-large;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
}
.cursos .tarjetasCursos .card {
  padding: 10px;
  margin: 30px;
  align-items: center;
  box-shadow: 0px 0px 10px black;
}
.cursos .tarjetasCursos .card .card-img-top {
  height: 400px;
}
.cursos .tarjetasCursos .card img {
  object-fit: cover;
}
.cursos .textoCursos {
  background-color: black;
  border-radius: 20px;
  letter-spacing: 1px;
  font-size: large;
}