@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Rokkitt&display=swap");
/* variables */
$fondo1: pink;
$fondo2: rgb(250, 214, 220);
$fondBlanco: white;
$botonesBorde: 3px solid rgb(0, 0, 0);
$botonesFondo: plum;
$sombraBox: 0px 0px 10px black;
$sombraHover: 0px 0px 20px black;
$bordeNegro: 1px solid black;
$botonesHover: rgb(254, 93, 254);
$sombraTextoBlanca: 0px 0px 3px rgb(255, 255, 255);
$sombraTextoNegra: 0px 0px 3px rgb(0, 0, 0);
%botones {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 3px;
  background-color: $botonesFondo;
  border: $bordeNegro;
  border-radius: 10px;
  box-shadow: $sombraBox;
  transition: all 0.5s;
}
body {
  font-family: "Rokkitt", serif;
  background-color: rgb(255, 255, 255);
}
h1,
h2,
h3 {
  font-family: "Courgette", cursive;
}
.elFooter {
  background-color: $fondo2;
  .footer {
    background-color: $fondo1;
  }
}
/* index */
.jumbotron {
  background-color: $fondo2;
  .description {
    flex-flow: column wrap;
    justify-content: center;
    .botonCallToAction {
      border: $botonesBorde;
      background-color: $botonesFondo;
    }
  }
}
//MEnu
header {
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 100;
}
.navbar {
  background-color: $fondo1;
  font-size: 20px;
  display: flex;
  flex-flow: row wrap;
  .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: end;
    .botonesParaUsuario {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-left: 850px;
      padding-top: 5px;
      .plataformaCompras {
        align-self: center;
      }
      .irIndex {
        align-self: center;
        padding-right: 20px;
        font-size: 40px;
      }
    }
  }
}
.navbar-brand {
  display: flex;
  justify-content: center;
  text-align: center;
  img {
    align-self: center;
  }
}
li {
  padding: 10px;
  justify-content: right;
  a {
    color: black;
  }
}
.jumbotron {
  background-image: url(https://cdn.pixabay.com/photo/2020/02/29/15/20/cake-4890393_640.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-y: -100px;
  flex-flow: row wrap;
  .description {
    flex-flow: column wrap;
    justify-content: center;
    color: #000000;
    font-size: larger;
    background-color: #f8f9fa5c;
    border-radius: 15px;
    .botonCallToAction {
      border: $botonesBorde;
      background-color: $botonesFondo;
    }
  }
}

.section-products {
  padding: 80px 0 54px;
}

.section-products .header {
  margin-bottom: 50px;
}

.section-products .header h3 {
  font-size: 1rem;
  color: #fe302f;
  font-weight: 500;
}

.section-products .header h2 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #000000;
}

.section-products .headerTienda {
  background-color: pink;
  border: $bordeNegro;
  border-radius: 50%;
  h3,
  h2 {
    padding: 20px;
  }
}

button {
  outline: none;
}
a:link {
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
* {
  outline: none !important;
}
*:focus {
  outline: none !important;
}
textarea:focus,
input:focus {
  outline: none !important;
}
a {
  text-decoration: none !important;
  outline: none !important;
}
.bi-cart-plus {
  font-size: 40px;
}
.editarTexto {
  color: blue;
  background-color: #444444;
  border: 3px solid black;
}
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  text-align: center;
  column-gap: 20px;
  row-gap: 10px;
}
.misProductos {
  display: flex;
  .card {
    margin-top: 10px;
    padding: 5px;
    width: 400px;
    text-transform: capitalize;
    border: 1.5px solid #777;
    border-radius: 5px;
    color: #000000;
    background-color: pink;
    box-shadow: $sombraBox;
    strong {
      font-size: 20px;
    }
    #seleccionCantidad {
      width: 40px;
      text-align: center;
      align-content: center;
      margin-bottom: 10px;
    }
    .cardImg {
      background-size: cover;
      height: 300px;
      border: 3px rgb(232, 105, 126);
    }
    .botones {
      padding: 5px;
      background-color: rgba(0, 255, 255, 0.419);
      border: $bordeNegro;
      color: rgb(0, 0, 0);
    }
    .botonera {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      column-gap: 20px;
    }
  }
}
.carritoDeCompras {
  display: none;
}

.mostrarElCarrito {
  display: block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 3px solid #000000;
  margin-top: 10px;
  z-index: 1;
  width: 300px;
  flex-direction: column;
  background-color: #f8f9fa;
  margin-left: 1000px;
  box .botonesParaConfirmar {
    justify-content: center;
    column-gap: 10px;
  }
}
.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate__fadeOutRight {
  animation-name: fadeOutRight;
}
.contenedorDelForm {
  column-gap: 135px;
  height: 900px;
  flex-wrap: nowrap;
  text-align: center;
  align-items: flex-start;
  align-content: center;
  justify-content: center;

  .formularioCompra {
    form {
      box-shadow: $sombraBox;
      background-color: $fondo1;
      border: 3px solid $fondo2;
      border-radius: 5px;
      padding: 15px;
      margin-bottom: 15px;
    }
    h1 {
      font-size: 25px;
      font-weight: bold;
    }

    input {
      width: 80%;
      margin-left: 50px;
    }

    label {
      font-size: 20px;
      padding-bottom: 10px;
    }

    .formPagos {
      display: flex;
      flex-direction: column;
    }

    .btn-primary {
      margin-right: 70px;
      width: 95px;
    }
  }
}

.partePagar {
  h3 {
    font-weight: bold;
  }
}
.no-outline:focus {
  outline: none;
}
#numeroCart {
  border-radius: 14%;
  padding: 5px;
}
.accionesDelCarrito {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 30px;
  p {
    font-size: larger;
    flex-direction: column;
  }
  button {
    width: 110px;
  }
}
.mensajeConfirm {
  font-size: larger;
}
.productoEnCarrito {
  flex-direction: row;
  column-gap: 20px;
  .imagenProducto {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: 3px fade-out($color: black, $amount: 0.2);
  }
  .botonBorrarCarrito {
    font-size: 25px;
  }
}
.mensajeInfo {
  background-color: #fbbbf8;
}
